.content-list-reference-wrapper{

    label.mdc-textfield{
        span.mdc-textfield__label.mdc-textfield__label--float-above{
            top: 0px;
        }
    }

    .chips-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .chip{
            
            box-shadow: 0 0 0.2em rgba(0,0,0,.4);
            background: rgba(0, 0, 0, 0.05);
            padding: 1px 3px;

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            margin: .2em;
            border-radius: 3px;
            flex-grow: .3;
            display: flex;
            justify-content: space-between;

            icon {
                float: left;
            }

            .close{
                font-size: .7em;
                cursor: pointer;
            }

            .display-name{
                margin: 0 .5em;
            }
        }

        .add-new-container{
            display: inline-block;
    
            .search-box{
                display: inline-block;
                overflow: hidden;
    
                width: 0 !important;
                &:active, &:focus{
                    width: auto !important;
                }
            }
           
        }        
    }

    display: block;


    .mdc-list-item{
        &.selected{
            background: rgba(0,0,0,.1);
        }
    }

    border-bottom: 1px solid var(--mdc-theme-primary);

    &.focused{
        border-bottom: 1px solid var(--mdc-theme-primary);
        box-shadow: 0 1px 0 0 var(--mdc-theme-primary);

        label{
            color: var(--mdc-theme-primary);
        }
    }
}