.datetime-wrapper{
    display: flex;
    justify-content: space-around;

    .date-container, .time-container{
        height: 100%;
        flex-grow: 1;

        &:first-child{
            margin-right: 15px;
        }

    }

    .time-container .input-field{
        margin-top: 22px;
        line-height: 100%;

        input{
            margin-bottom: 0;
        }
    }
}