.tree-wrapper {
    user-select: none;

    .tree-item-name {
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
        overflow: hidden;

        &.selected {
            font-weight: bolder;
        }

        md-progress {
            position: absolute;
            opacity: 0;
            filter: blur(3px);
            transition: all 0.3s ease-in;
            transition-delay: 0s;
            margin-left: 15px;

            &.loading {
                transition-delay: 1s;
                opacity: 1;
                filter: none;
                transition: opacity linear 0.6s, blur linear 0.3s;
            }
        }
    }

    i.expand-icon {
        &.loading {
            opacity: .6;
        }

        &.no-children {
            opacity: .3;
        }

        transition: transform 400ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

        &.collapsed {
            transform: rotate(-180deg);
        }
    }

    .current-level {
        cursor: pointer;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: .6em;

        icon {
            margin-right: .6rem;
        }

        opacity: .65;

        &.selected {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
